{%extends 'baseF.html.twig'%}
{% block title %}Panier | culture{% endblock %}
{% block content %}

    <body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    {{include('includes/frontoffice/navbar.html.twig') }}
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- Header part end-->


    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Cart Area =================-->
    <section class="cart_area padding_top">
        <div class="container">
            <h1>Thanks for your order!</h1>
            <p>
                We appreciate your business!
                If you have any questions, please email
                <a href="mailto:orders@example.com">orders@example.com</a>.
            </p>
        </div>
    </section>
    {{include('includes/frontoffice/footer.html.twig')}}

{% endblock %}